html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Recommended for mobile to prevent weird rubber-banding */
}

/* This creates a solid block behind the mobile status icons (Clock, Battery) */
/*.status-bar-safe-area {
    background-color: #E21E26;*/ /* OIL Red */
    /*height: env(safe-area-inset-top);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;*/ /* Higher than MudAppBar (which is 1300) */
/*}*/

/* Adjust MudBlazor Main Content so it starts below the AppBar + Notch */
/*.mud-main-content {*/
    /* 64px is standard MudAppBar height */
    /*padding-top: calc(64px + env(safe-area-inset-top)) !important;
}*/
/* Adjust MudBlazor Main Content so it handles the scrolling container internally */
.mud-main-content {
    /* 64px is standard MudAppBar height */
    padding-top: calc(64px + env(safe-area-inset-top)) !important;
    /* FORCE INTERNAL SCROLLING HERE */
    height: 100vh; /* Occupy the full viewport height */
    overflow-y: auto; /* Allow vertical scrolling inside the main content view */
    -webkit-overflow-scrolling: touch; /* Ensures smooth, native-feeling momentum scrolling on iOS */
}




/* Ensure the AppBar itself sits below the status bar color block */
.mud-appbar {
    margin-top: env(safe-area-inset-top);
}
